/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */
/* Белый #FFFFFF */
/* Черный #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* Цвет фона Футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --black: #000000;
  --white: #ffffff;
  --font-family: Raleway, Roboto, sans-serif;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
p {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 2px solid tomato; */
}

/* Logo */

.logo {
  display: block;
  color: var(--black);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 9px;

  transition: color var(--timing-function);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo.inverse {
  color: var(--white);
}

.logo.inverse:hover,
.logo.inverse:focus {
  color: var(--accent-color);

  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  display: inline-flex;
  align-items: center;
  transition: color var(--timing-function);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 85px;
}

/* .site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link::before,
.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav .link::before {
  transform: scale(0);
  transition: transform var(--timing-function);
}

.site-nav .link:focus::before,
.site-nav .link:hover::before {
  transform: scale(1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color var(--timing-function);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.envelope-icon {
  width: 17px;
  height: 13px;
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: gray;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.features-list {
  display: flex;
}

.features-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-item {
  margin-right: 30px;
}

.features-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

/* Block */

.block-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* изменить цвет ссылки на белый */

.activities-list {
  display: flex;
  justify-content: space-between;
}

.activities-title {
  width: 370px;
  text-align: center;
  position: relative;
}

.activities-link {
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;
  left: 0;

  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  transition: color var(--timing-function);
}

.activities-link:hover,
.activities-link:focus {
  color: var(--black);
}

/* Team */

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  background: #ffffff;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-card .social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 0;
}

.social-icon {
  fill: #afb1b8;
  height: 44px;
  width: 44px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

  background-color: transparent;
  border-radius: 50%;

  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--white);
  background-color: var(--accent-color);
}

.social-icon:nth-last-child(n + 1) {
  margin-right: 0;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-right: 32px;
  padding-left: 32px;
}

.social-list > .social-link {
  display: inline-block;
  margin-right: 10px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: fill var(--timing-function);
}

.client-logo:hover,
.client-logo:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */

.page-footer {
  background-color: #2f303a;
  color: var(--white);
}

.logo-footer {
  margin-right: 69px;
}

.address {
  display: flex;
  align-content: space-between;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-item {
  display: block;
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;

  transition: color var(--timing-function);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

.contact-social {
  margin-right: 94px;
}

.contact-block {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 28px;
}

.social-footer {
  display: flex;
  justify-content: space-between;
}

.social-icon.footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--white);
  background-color: var(--accent-color);
}

.social-footer > .social-link {
  margin-right: 10px;
}

.social-link:nth-last-child(-n + 1) {
  margin-right: 0;
}

.join {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.copyright {
  width: 1170px;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;

  text-align: center;

  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Button */

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  cursor: pointer;
}

.subscribe {
  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.subscription .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button-portfolio {
  border: none;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;

  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--accent-color);
  font-family: inherit;
}

/* Galery */

.title-portfolio {
  margin-top: 0;
  margin-bottom: 0;
}

.filter {
  padding-top: 93px;
  padding-bottom: 50px;
  text-align: center;
}

.filter-item {
  display: flex;
  justify-content: center;
}

.galery {
  margin-bottom: 94px;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
}

.galery-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.galery-thumb {
  position: relative;
  overflow: hidden;
}

.galery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--timing-function);
}

.galery-thumb:hover::before {
  opacity: 1;
}

.galery-item:nth-child(3n) {
  margin-right: 0px;
}

.galery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.galery-item:hover .galery-overlay {
  transform: translateY(0);
}

.galery-item:hover {
  border: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-content {
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-image {
  display: block;
}

.galery-subtitle {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.galery-text {
  color: var(--white);

  padding: 63px 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.galery-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2, 0;
  letter-spacing: 0.06em;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function), transform var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--white);
  padding: 40px;
  min-width: 528px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform var(--timing-function);
  /* min-height: 581px; */
}

.modal-name {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  text-align: center;
  color: var(--primary-text-color);
}

.modal-input {
  position: relative;
  display: block;
  margin-bottom: 30px;
  border-color: var(--secondary-text-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  /* transition: fill var(--accent-color); */
}

.input-field {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: color var(--timing-function);
  color: var(--primary-text-color);
}

.modal-input:focus-within > .modal-icon,
.input-field:not(:placeholder-shown) ~ .modal-icon {
  fill: var(--accent-color);
}

.modal-input:focus-within > .input-label {
  transform: translate(-25px, -35px);
  font-size: 12px;
  line-height: 1.17px;
  color: var(--accent-color);
}

.modal-input:focus-within > .input-field {
  border-color: var(--accent-color);
  outline: none;
}

.input-field:not(:placeholder-shown) + .input-label {
  transform: translate(-25px, -35px);

  font-size: 12px;
  line-height: 1.17px;
  color: var(--accent-color);
}

textarea {
  resize: none;
}

.input-field.textarea {
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  padding-left: 16px;
  transition: border-color var(--timing-function);
}

textarea.input-field:focus-within,
textarea.input-field:not(:placeholder-shown) {
  border-color: var(--accent-color);
  outline: none;
}

.modal-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-130%, 130%);
  background-color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--timing-function);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.input-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);

  transition: transform var(--timing-function), color var(--timing-function);
}

.button.modal-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe {
  display: inline-block;
  margin-right: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: fill var(--duration) var(--timing);
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.modal-button:hover,
.button.modal-button:focus {
  background-color: var(--white);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.submit {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: color var(--timing-function);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);

  border-color: transparent;
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}

.modal-link {
  color: var(--accent-color);
}
